<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
      <div class="container-fluid">
          <div class="row mb-2">
              <div class="col-sm-6">
                  <h1 class="m-0">Dashboard</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Dashboard v1</li>
                  </ol>
              </div>
              <!-- /.col -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Data Interaction Page</h2>
      </div>
      <!-- ./card-header -->
      <div class="card-body">
          <div class="card-body">
            <div >
              <canvas style="min-height: 500px; height: 500px; max-height: 250px; max-width: 90%;"></canvas>
            </div>
          </div>
        <div class="d-flex">
          <div type="button" class="btn btn-block btn-success  p-2 m-2"> Configure</div>
          <div type="button" class="btn btn-block btn-success p-2 m-2">Export</div>
          <div type="button" class="btn btn-block btn-success p-2 m-2"> GenerateVisualization</div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
