<div class="row">
  <div class=col-md-12>
    <div class="card">
      <div class="card-header">
        <div class="row justify-content-end">
          <button class="btn btn-danger" (click)="confirmDelete()">
            <i class="fa fa-trash"></i>
          </button>

        </div>

      </div>
      <div class="card-body">
        <div [ngStyle]="{'background-image':'url('+ image +')'}" class="img-container">
        </div>
      </div>
    </div>

  </div>
</div>
