<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Thêm mới thuốc</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Thêm mới thuốc</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <form >
    <div class="row">
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">General</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>DrugBankId: </label>
              <span> {{currentTutorial.drugbankID}}</span>
            </div>
            <div class="form-group">
              <label>Product Name: </label>
              <span> {{currentTutorial.productName}}</span>
            </div>
            <div class="form-group">
              <label>Product Labeller: </label>
              <span> {{currentTutorial.productLabeller}}</span>
            </div>
            <div class="form-group">
              <label>Product Code: </label>

              <span> {{currentTutorial.productCode}}</span>
            </div>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a routerLink="/tutorials" class="btn btn-secondary">Cancel</a>
      </div>
    </div>
  </form>
</section>
<!-- /.content -->

</div>
