<div class="wrapper" *ngIf="authService.userData as user">

  <!-- Preloader -->
<!--  <div class="preloader flex-column justify-content-center align-items-center">-->
<!--    <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">-->
<!--  </div>-->

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a [routerLink]="['/admin/home']" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">     </a>
      </li>
    </ul>

    <!-- Right navbar links -->
    
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/admin/home']" class="brand-link">
      <img src="assets/dist/img/Logo09.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Medverse Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{(user.photoURL) ? user.photoURL : 'assets/dist/img/user2-160x160.jpg'}}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a [routerLink]="['/admin/user']" class="d-block">{{user.displayName}}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <!-- <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">ADMIN TOOL</li>
          <li class="nav-item">
            <a [routerLink]="['/admin/home']" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
              <!-- -- -->
            </a>
            <!-- <a [routerLink]="['/admin/statistics']" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Medicine Statistics
              </p>
            </a> -->

            <!-- <a [routerLink]="['/admin/data']" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Data Interaction
              </p>
            </a> -->
            <a [routerLink]="['/admin/medicine-gallery']" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Medicine Gallery
              </p>
            </a>
            <a [routerLink]="['/admin/uploader']" class="nav-link">
              <i class="nav-icon fas fa fa-upload"></i>
              <p>
                Uploader
              </p>
            </a>
            <a [routerLink]="['/admin/users']" class="nav-link">
              <i class="nav-icon 	fa fa-user"></i>
              <p>
                User Management
              </p>
            </a>
            <a [routerLink]="['/admin/report']" class="nav-link">
              <i class="nav-icon 	fa fa-flag"></i>
              <p>
                Medicine Report
              </p>
            </a>
            <a [routerLink]="['/admin/medicine']" class="nav-link">
              <i class="nav-icon 	fa fa-medkit"></i>
              <p>
                Medicine Management
              </p>
            </a>
            <a [routerLink]="['/admin/blogs']" class="nav-link">
              <i class="nav-icon 	fa fa-newspaper"></i>
              <p>
                Article Management
              </p>
            </a>
           <a (click)="authService.SignOut()" class="nav-link">
              <i class="nav-icon fa fa-sign-out-alt"></i>
              <p>
                Log Out
              </p>
           </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <router-outlet></router-outlet>

  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <!-- <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved. -->
    <div class="float-right d-none d-sm-inline-block">
      <b>Team09</b> 3.2.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!--&lt;!&ndash; Top navigation &ndash;&gt;-->
<!--<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">-->
<!--  <a class="navbar-brand col-sm-3 col-md-2 mr-0">-->
<!--    <img class="brand-logo" src="assets/favicon.ico" alt="positronX.io Logo">-->
<!--  </a>-->
<!--</nav>-->

<!--&lt;!&ndash; Sidebar navigation &ndash;&gt;-->
<!--<div class="container-fluid">-->
<!--  <div class="row">-->

<!--    <nav class="col-md-2 d-md-block bg-light sidebar">-->
<!--      <div class="sidebar-sticky">-->
<!--        <ul class="nav flex-column">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" [routerLink]="['/admin/dashboard']">-->
<!--              <i class="fas fa-user"></i>Dashboard-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" [routerLink]="['/admin/home']">-->
<!--              <i class="fas fa-user"></i>Thông tin tài khoản-->
<!--            </a>-->
<!--          </li>-->
<!--&lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="nav-link" [routerLink]="['/admin/tutorials']">&ndash;&gt;-->
<!--&lt;!&ndash;              <i class="fas fa-user"></i>Danh mục&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" [routerLink]="['/admin/tutorials']">-->
<!--              <i class="fas fa-user"></i>Thuốc-->
<!--            </a>-->
<!--          </li>-->
<!--          &lt;!&ndash; Calling SignOut() Api from AuthService &ndash;&gt;-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" (click)="authService.SignOut()">-->
<!--              <i class="fas fa-sign-out-alt"></i>Đăng xuất-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->

<!--    &lt;!&ndash; Main content &ndash;&gt;-->

<!--    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">-->
<!--      <div class="inner-adjust">-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->
<!--    </main>-->



<!--  </div>-->
<!--</div>-->
