<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
      <div class="container-fluid">
          <div class="row mb-2">
              <div class="col-sm-6">
                  <h1 class="m-0">Dashboard</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
              </div>
              <!-- /.col -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
      <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-info">
                      <div class="inner">
                          <h3>{{totalProduct}}</h3>
                          <p>Tổng số Sản Phẩm</p>
                      </div>
                      <div class="icon">
                          <i class="ion ion-bag"></i>
                      </div>
                      <a [routerLink]="['/admin/medicine']" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-success">
                      <div class="inner">
                          <h3>{{ totalBlog }}</h3>

                          <p>Tổng số bài viết </p>
                      </div>
                      <div class="icon">
                          <i class="ion ion-stats-bars"></i>
                      </div>
                      <a [routerLink]="['/admin/blogs']" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                      <div class="inner">
                          <h3>{{ totalUser }}</h3>

                          <p>Tổng số User</p>
                      </div>
                      <div class="icon">
                          <i class="ion ion-person-add"></i>
                      </div>
                      <a [routerLink]="['/admin/users']" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-danger">
                      <div class="inner">
                          <h3>
                              65
                          </h3>

                          <p>Lượt tìm kiếm</p>
                      </div>
                      <div class="icon">
                          <i class="ion ion-pie-graph"></i>
                      </div>
                      <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
              </div>
              <!-- ./col -->



          </div>
          <!-- /.row -->
          <!-- Main row -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i> Medicine Statistics
            </h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="chart">
          <div class="row">
                <!-- Left col -->
                <section class="col-lg-12 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card">
                        <!-- <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-pie mr-1"></i> Medicine Statistics
                            </h3>
                            <div class="card-tools">
                                <ul class="nav nav-pills ml-auto">

                                    <li class="nav-item">
                                        <a class="nav-link active" href="#sales-chart" data-toggle="tab">More info</a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content mr-1">
                                <!-- Morris chart - Sales -->

                                <div class="chart tab-pane active" id="sales-chart" style="position: relative; height: 790px;">
                                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                  </canvas>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </section>
                <!-- /.Left col -->

            </div>

            <!-- /.card -->

              </div>
            </div>

        </div>
          <!-- /.row (main row) -->
          <!-- AREA CHART -->
      <section>
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i> Overview Data on PostgreSQL
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="chart">
      <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bordered Table</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Task</th>
                    <th style="width: 100px">Label</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td>Update software</td>
                    <td><span class="badge bg-success">55</span></td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>Update software</td>
                    <td><span class="badge bg-success">55</span></td>
                  </tr>
                  <tr>
                    <td>3.</td>
                    <td>Update software</td>
                    <td><span class="badge bg-success">55</span></td>
                  </tr>
                  <tr>
                    <td>4.</td>
                    <td>Update software</td>
                    <td><span class="badge bg-success">55</span></td>
                  </tr>
                  <tr>
                    <td>5.</td>
                    <td>Update software</td>
                    <td><span class="badge bg-success">55</span></td>
                  </tr>
                  <tr>
                    <td>6.</td>
                    <td>Update software</td>
                    <td><span class="badge bg-success">55</span></td>
                  </tr>
                  <tr>
                    <td>7.</td>
                    <td>Update software</td>
                    <td><span class="badge bg-success">55</span></td>
                  </tr>
                  <tr>
                    <td>8.</td>
                    <td>Update software</td>
                    <td><span class="badge bg-success">55</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->

            <!-- <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
              </ul>
            </div> -->
          </div>

          <!-- /.card -->

            </div>
          </div>

      </div>
      <!-- /.container-fluid -->

  </section>
  <!-- /.content -->
</div>
