<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" *ngIf="authService.userData as user">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">User Profile</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                     src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                     alt="User profile picture">
              </div>

              <h3 class="profile-username text-center">{{user.displayName}}</h3>

<!--              <p class="text-muted text-center"></p>-->

<!--              <ul class="list-group list-group-unbordered mb-3">-->
<!--                <li class="list-group-item">-->
<!--                  <b>Followers</b> <a class="float-right">1,322</a>-->
<!--                </li>-->
<!--                <li class="list-group-item">-->
<!--                  <b>Following</b> <a class="float-right">543</a>-->
<!--                </li>-->
<!--                <li class="list-group-item">-->
<!--                  <b>Friends</b> <a class="float-right">13,287</a>-->
<!--                </li>-->
<!--              </ul>-->

<!--              <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>-->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- About Me Box -->
<!--          <div class="card card-primary">-->
<!--            <div class="card-header">-->
<!--              <h3 class="card-title">About Me</h3>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.card-header &ndash;&gt;-->
<!--            <div class="card-body">-->
<!--              <strong><i class="fas fa-book mr-1"></i> Education</strong>-->

<!--              <p class="text-muted">-->
<!--                B.S. in Computer Science from the University of Tennessee at Knoxville-->
<!--              </p>-->

<!--              <hr>-->

<!--              <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>-->

<!--              <p class="text-muted">Malibu, California</p>-->

<!--              <hr>-->

<!--              <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>-->

<!--              <p class="text-muted">-->
<!--                <span class="tag tag-danger">UI Design</span>-->
<!--                <span class="tag tag-success">Coding</span>-->
<!--                <span class="tag tag-info">Javascript</span>-->
<!--                <span class="tag tag-warning">PHP</span>-->
<!--                <span class="tag tag-primary">Node.js</span>-->
<!--              </p>-->

<!--              <hr>-->

<!--              <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>-->

<!--              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.card-body &ndash;&gt;-->
<!--          </div>-->
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-0">
              <ul class="nav nav-pills">
<!--                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>-->
                <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">  Info  </a></li>
              </ul>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="settings">
                  <form class="form-horizontal">
                    <div class="form-group row">
                      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputName" placeholder="Name" value="{{user.displayName}}" disabled>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{user.email}}" disabled>
                      </div>
                    </div>
<!--                    <div class="form-group row">-->
<!--                      <label for="inputName2" class="col-sm-2 col-form-label">Name</label>-->
<!--                      <div class="col-sm-10">-->
<!--                        <input type="text" class="form-control" id="inputName2" placeholder="Name">-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                      <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>-->
<!--                      <div class="col-sm-10">-->
<!--                        <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                      <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>-->
<!--                      <div class="col-sm-10">-->
<!--                        <input type="text" class="form-control" id="inputSkills" placeholder="Skills">-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                      <div class="offset-sm-2 col-sm-10">-->
<!--                        <div class="checkbox">-->
<!--                          <label>-->
<!--                            <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>-->
<!--                          </label>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                      <div class="offset-sm-2 col-sm-10">-->
<!--                        <button type="submit" class="btn btn-danger">Submit</button>-->
<!--                      </div>-->
<!--                    </div>-->
                  </form>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!--<div class="pt-3 pb-2 mb-3 border-bottom">-->
<!--  <h1 class="h2">User Profile</h1>-->
<!--</div>-->
<!--&lt;!&ndash; Show user data when logged in &ndash;&gt;-->
<!--<div class="row" *ngIf="authService.userData as user">-->
<!--  <div class="col-md-12">-->
<!--    <div class="media">-->
<!--      <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"-->
<!--           alt="{{user.displayName}}">-->
<!--      <div class="media-body">-->
<!--        <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>-->
<!--        <p>User ID: <strong>{{user.uid}}</strong></p>-->
<!--        <p>Email: <strong>{{user.email}}</strong></p>-->
<!--        <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
