<body class="hold-transition login-page">
<div class=" login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h1"><b>Admin Dashboard</b></a>
    </div>
    <div class="card-body">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Please enter your email</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-icon *ngIf="exist" style="color: #00FF00;" matSuffix>check</mat-icon>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <!--                        <input type="text" class="form-control mb-2" name="email" placeholder="Email" [(ngModel)]="email" required autofocus>-->
          <div class="form-group">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Please enter your password</mat-label>
              <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password.invalid">{{getErrorMessage2()}}</mat-error>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" class="btn-lg" style="width:100%" (click)="login()">Login
          </button>
          <a (click)="resetPassword()" class="" type="button">Forgot password?</a>
        </form>
      </div>
      <!--      <p class="login-box-msg">Đăng nhập</p>-->


      <!-- /.social-auth-links -->

    </div>

    <!-- /.card-body -->
    <div class="card-footer">
      <div class="social-auth-links text-center mt-2 mb-3">
        <a class="btn btn-block btn-danger" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus mr-2"></i> Login with Google
        </a>
      </div>
    </div>
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
</body>
