<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
      <div class="container-fluid">
          <div class="row mb-2">
              <div class="col-sm-6">
              </div>
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title m-0 ">Uploader</h1>
      </div>
      <!-- ./card-header -->
      <div class="card-body">
          <div class="card-body">
            <div >
              <div class="container" style="width:600px" >
                <div>
                  <h3>Pill Uploader</h3>
                  <h4>{{ title }}</h4>
                </div>

                <div class="my-3">
                  <app-upload-form></app-upload-form>
                </div>

                <div class="my-2">
                  <app-upload-list></app-upload-list>
                </div>
              </div>
              <canvas style="min-height: 500px; height: 500px; max-height: 250px; max-width: 90%;"></canvas>
            </div>
          </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

