<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Cập nhật thông tin</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Update</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <label>Tên người dùng</label>
                                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors?.required">Description is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Hình ảnh</label>
                                <input type="file" id="file" class="form-control" name="image" (change)="onFileSelected($event)" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" />
                                <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                                    <div *ngIf="f.image.errors?.required">Hình ảnh is required</div>
                                </div>
                                <img src="{{form?.get('photoUrl')?.value}}">
                            </div>


                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a [routerLink]="['/admin/users']" class="btn btn-secondary">Cancel</a>
                    <input [disabled]="loading" type="submit" value="Save" class="btn btn-success float-right">
                </div>
                <p>{{ form.value | json}}</p>
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
