<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Thêm mới thuốc</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Thêm mới thuốc</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">General</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label>DrugBankId</label>
                <input type="text" formControlName="drugbankID" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.drugbankID.errors }"/>
                <div *ngIf="submitted && f.drugbankID.errors" class="invalid-feedback">
                  <div *ngIf="f.drugbankID.errors?.required">Title is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Product Name</label>
                <input type="text" formControlName="productName" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.productName.errors }"/>
                <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
                  <div *ngIf="f.productName.errors?.required">First Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Product Labeller</label>
                <input type="text" formControlName="productLabeller" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.productLabeller.errors }"/>
                <div *ngIf="submitted && f.productLabeller.errors" class="invalid-feedback">
                  <div *ngIf="f.productLabeller.errors?.required">Last Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Product Code</label>
                <input type="text" formControlName="productCode" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.productCode.errors }"/>
                <div *ngIf="submitted && f.productCode.errors" class="invalid-feedback">
                  <div *ngIf="f.productCode.errors?.required">Email is required</div>
                </div>
              </div>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a [routerLink]="['/admin/tutorials']" class="btn btn-secondary">Cancel</a>
          <input [disabled]="loading" type="submit" value="Save" class="btn btn-success float-right">
        </div>
        <p>{{ form.value | json}}</p>
      </div>
    </form>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<!--<div class="card mt-5">-->
<!--  <div class="card-header">-->
<!--    Thêm mới thuốc-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--      <div class="row form-row">-->
<!--        <div class="form-group col-6">-->
<!--          <label>DrugBankId</label>-->
<!--          <input type="text" formControlName="drugbankID" class="form-control"-->
<!--                 [ngClass]="{ 'is-invalid': submitted && f.drugbankID.errors }"/>-->
<!--          <div *ngIf="submitted && f.drugbankID.errors" class="invalid-feedback">-->
<!--            <div *ngIf="f.drugbankID.errors?.required">Title is required</div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group col-6">-->
<!--          <label>Product Name</label>-->
<!--          <input type="text" formControlName="productName" class="form-control"-->
<!--                 [ngClass]="{ 'is-invalid': submitted && f.productName.errors }"/>-->
<!--          <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">-->
<!--            <div *ngIf="f.productName.errors?.required">First Name is required</div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--      <div class="row form-row">-->
<!--        <div class="form-group col-6">-->
<!--          <label>Product Labeller</label>-->
<!--          <input type="text" formControlName="productLabeller" class="form-control"-->
<!--                 [ngClass]="{ 'is-invalid': submitted && f.productLabeller.errors }"/>-->
<!--          <div *ngIf="submitted && f.productLabeller.errors" class="invalid-feedback">-->
<!--            <div *ngIf="f.productLabeller.errors?.required">Last Name is required</div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group col-6">-->
<!--          <label>Product Code</label>-->
<!--          <input type="text" formControlName="productCode" class="form-control"-->
<!--                 [ngClass]="{ 'is-invalid': submitted && f.productCode.errors }"/>-->
<!--          <div *ngIf="submitted && f.productCode.errors" class="invalid-feedback">-->
<!--            <div *ngIf="f.productCode.errors?.required">Email is required</div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->


<!--      <div class="form-group mt-2">-->
<!--        <button [disabled]="loading" class="btn btn-primary">-->
<!--          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
<!--          Save-->
<!--        </button>-->
<!--        <a routerLink="/users" class="btn btn-link">Cancel</a>-->
<!--        <p>{{ form.value | json}}</p>-->
<!--      </div>-->
<!--    </form>-->

<!--  </div>-->
<!--</div>-->
