.img {
  margin: 6px 6px;
  border: 4px solid #eee;
  box-shadow: rgb(224, 199, 199) 1px 1px 8px 1px;
  cursor: pointer
}

.modal-content {
  width: 1000px !important;
}

ul {
  padding: 0;
  width: 3000px;
  margin: 20px auto;
  margin-left: 30px
}

li {
  display: inline;
}

button{
  margin:auto;
}
