<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0">Dashboard</h1> -->
        </div>
        <!-- /.col -->

        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title m-0 ">Medicine Gallery</h1>
        </div>
        <!-- ./card-header -->
        <div class="card-body">
          <div>
            <div class="row">
              <ul>
                <li *ngFor="let img of (filelist)">
                  <a (click)="openImageDialog(img.link, img.fullPath)" >
                    <img src="{{img.link}}" class="img" width="240" height="170" title="{{ img.name}}">
                  </a>
                </li>
              </ul>
            </div>
            <div class="row">
              <button class="btn btn-primary mr-2" (click)="getFileList()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </button>
              <button class="btn btn-primary ml-2" (click)="getFileList()">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
              <!-- <button class="btn btn-primary" (click)="nextPage()">Next</button> -->
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
