<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title m-0 ">User Management

                            </h1>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" [(ngModel)]="textSearch" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: auto;">
                            <table mat-table [dataSource]="dataSource" matSort class="table-head-fixed table-hover">
                                <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <div style="display: flex; align-items: center;">
                                            <span mat-sort-header>{{displayedColumnsText[i]}}</span>

                                        </div>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="column === 'photoUrl'">
                                            <img mat-card-image src="{{element[column]}}" width="80px">
                                        </ng-container>

                                        {{ ['photoUrl'].includes(column) ? '' : element[column]}}
                                    </td>
                                </ng-container>
                                <ng-container [matColumnDef]="'actions'">
                                    <th mat-header-cell *matHeaderCellDef style="width:120px">
                                        <!--                    <button mat-icon-button color="primary" [routerLink]="['/admin/blogs-add']">-->
                                        <!--                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>-->
                                        <!--                    </button>-->
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <!-- <button mat-icon-button [routerLink]="['/admin/users', element.id]">
                      <mat-icon mat-icon-button color='primary'>edit</mat-icon>
                    </button> -->
                                        <button mat-icon-button (click)="delete(element['id'])" data-toggle="modal" data-target="#deleteModal">
                      <mat-icon mat-icon-button color="warn">delete</mat-icon>
                    </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                            </table>

                            <mat-paginator [pageSize]="10"
                                           [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->




</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Do you really want to delete?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="remove()" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
