<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="card-title m-0">Medicine Management</h1>

          <!-- <a routerLink="/admin/tutorials-add" class="btn btn-sm btn-success mb-2">
            <i class="fa fa-plus"></i>
          </a> -->

        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Medicine Management</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">


              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Number</mat-label>
                <input type="text"
                       placeholder="Pick one"
                       aria-label="Number"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-icon matSuffix (click)="filter()">search</mat-icon>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let customer of productsClone" [value]="customer.productName">
                    {{customer.productName}}
                  </mat-option>
                  <!--                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                      {{option}}
                                    </mat-option>-->
                </mat-autocomplete>
              </mat-form-field>

            </div>
            <div class="">
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: auto;">
                <table mat-table [dataSource]="dataSource" matSort class="table-head-fixed text-nowrap table-hover" style="width: 100%">
                  <ng-container *ngFor="let column of displayedColumns; let i = index"
                                [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef>
                      <div style="display: flex; align-items: center;">
                        <span mat-sort-header>{{displayedColumnsText[i]}}</span>

                      </div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <ng-container *ngIf="column === 'productID'">
                        <a href="#" (click)="setActiveTutorial(element, 1)" data-toggle="modal" data-target="#exampleModal">
                          {{element[column]}}
                        </a>
                      </ng-container>
                      <ng-container *ngIf="column === 'image_url'">
                        <img src="{{element[column]}}" width="80px">
                      </ng-container>
                      <ng-container *ngIf="column === 'createdAt'">
                        {{element[column] ? (element[column].toDate() | date:'dd-MM-YYYY h:mm:ss a') : '' }}
                      </ng-container>
                      {{ ['image_url', 'createdAt', 'productID'].includes(column) ? '' : element[column]}}
                    </td>
                  </ng-container>
                  <ng-container [matColumnDef]="'actions'">
                    <th mat-header-cell *matHeaderCellDef>
                      <!-- <button mat-icon-button color="primary" (click)="edit(null)">
                        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                      </button> -->
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <!-- <a mat-icon-button [routerLink]="['/admin/tutorials-add', element.productID]">
                        <mat-icon mat-icon-button color='primary'>edit</mat-icon>
                      </a> -->
<!--                      <button class="btn btn-sm btn-danger btn-delete-user"  >-->
<!--                        <span>Delete</span>-->
<!--                      </button>-->
                      <button mat-icon-button data-toggle="modal" data-target="#exampleModal">
                        <mat-icon mat-icon-button (click)="setActiveTutorial(element, 1)" color=""><i class="nav-icon fas fa-info-circle"></i>
                        </mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                </table>

                <mat-paginator [pageSize]="12"
                               [pageSizeOptions]="[5, 10, 50, 100]" showFirstLastButtons></mat-paginator>

              </div>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>

      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chi tiết thuốc</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">DrugBankId</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                     value="{{currentTutorial.productID}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">Product Name</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" value="{{currentTutorial.productName}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">Product Labeller</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" value="{{currentTutorial.productLabeller}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">Product Code</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" value="{{currentTutorial.productCode}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">productRoute</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" value="{{currentTutorial.productRoute}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">productStrength</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" value="{{currentTutorial.productStrength}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">productdosage</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" value="{{currentTutorial.productdosage}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">productdosage</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" value="{{currentTutorial.productdosage}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">approved</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" value="{{currentTutorial.approved}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">otc</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" value="{{currentTutorial.otc}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">country</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" value="{{currentTutorial.country}}">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Bạn chắc chắn muốn xóa không</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hãy gõ <b>{{currentTutorial.productID}}</b> để xác nhận xóa
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="confirmDelete">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="removeAllTutorials()" [disabled]="confirmDelete != currentTutorial.productID"  class="btn btn-primary" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

