<div class="row">
  <div class="col-md-8 offset-md-2">
    <blockquote class="blockquote">
      <p class="mb-0 h3 display-4">Image Gallery</p>
      <footer class="blockquote-footer">with <cite title="Source Title">Firebase Storage</cite> and <cite
          title="Source Title">Angular </cite></footer>
    </blockquote>
    <router-outlet></router-outlet>
  </div>
</div>
