<body class="hold-transition login-page">
<div class=" login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h1"><b>Admin Dashboard</b></a>
    </div>
    <div class="card-body">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Please enter your email</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-icon *ngIf="exist" style="color: #00FF00;" matSuffix>check</mat-icon>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" class="btn-lg" style="width:100%" (click)="reset()">Reset Password
          </button>
          <a [routerLink]="'/sign-in'" class="" type="button">Log In</a>
        </form>
      </div>
      <!--      <p class="login-box-msg">Đăng nhập</p>-->


      <!-- /.social-auth-links -->

    </div>


  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

</body>
